.header {
  height: 96px;
  padding: 8px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
  @apply flex items-center gap-[8px];
}

.productImage {
  @apply h-[80px] w-[80px];
}

.productBody {
  flex: 1;
  @apply flex flex-col gap-[4px];
}