.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerOpen {
  display: flex;
}

.containerClosed {
  display: none;
}

.buttonContainer {
  position: relative;
  bottom: 80px;
  color: white
}

.gotItButton {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}