.virtualItemFlyer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.virtualItemFlyerSticky {
  position: sticky;
  top: 0;
  transform: unset !important;
  transition: height 0.3s ease;
  /* transition-delay: 2s; */
}

.virtualItemFlyerSticky > div {
  transform: scale(1, 0.5) !important;
  transform-origin: top;
  transition: transform 0.3s ease;
  /* transition-delay: 0.3s; */
}

.virtualItemFlyerSticky > div > div {
  position: absolute;
  /* top: -5px; */
  padding-top: 0;
  margin-top: 0;
  transform: scale3d(0.75, 1.5, 1) !important;
  transition: transform 0.3s ease;
  /* transition-delay: 0.3s; */
  /* transform-origin: top; */
  /* transition: transform 0.3s ease-in-out; */
}
